body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgb(44, 41, 70) 0%,
    rgb(195, 195, 216) 100%
  );
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  /* padding: 0 20px; */
  /* background-color: aquamarine; */
  background: linear-gradient(
    90deg,
    rgb(28, 28, 29, 0.7) 0%,
    rgb(59, 59, 63) 100%
  );
  z-index: 1;
}

.nav-item {
  margin: 0 auto;
  font-size: large;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-search {
  font-size: large;
  color: white;
  font-weight: bold;
}

/* .main {
  margin-top: 300px;
} */

.book-img,
.bestbook-img,
.favbook-img {
  /* height: 500;
  width: 210px; */
  max-width: 100%;
  margin: 1rem;
}

img.book-img,
img.bestbook-img,
img.favbook-img {
  width: 150px;
  height: 200px;
}

.results-image,
.bestseller-image,
.favourite-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-overall,
.bestseller-overall,
.favourite-overall,
.results-overall {
  /* justify-content: center; */
  padding-top: 80px;
  margin: 0 auto;
  /* display: flex; */
  /* margin-left: 100px; */
}

.home-overall {
  padding-top: 320px;
  margin: 0 auto;
}

.search {
  margin-top: 2em;
}

.bestseller,
.results,
.favourite {
  background-color: rgba(83, 92, 95, 0.452);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
  transition: transform 0.2s;
}

.bestseller:hover,
.results:hover,
.favourite:hover {
  transform: scale(1.1);
}

.best-over,
.results-over,
.fav-over {
  background-color: rgba(240, 240, 240, 0.7);
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.bestseller:hover .best-over,
.results:hover .results-over,
.favourite:hover .fav-over {
  transform: translateX(0);
}

button {
  position: relative;
  cursor: pointer;
}

.details {
  background-color: rgba(83, 92, 95, 0.452);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  /* margin: 7rem; */

  width: 50%;
  height: 750px;
}

.details-img {
  /* display: flex;
  flex-wrap: wrap; */
  width: 300px;
  height: 400px;
}
