body {
  margin: 0px;
  padding: 0px;
  background: rgb(200, 198, 216);
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
  /* padding: 0 20px; */
  /* background-color: aquamarine; */
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
}

.nav-item {
  margin: 0 auto;
  font-size: large;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-search {
  font-size: large;
  color: white;
  font-weight: bold;
}

.bookimg,
.bestbookimg {
  /* height: 500;
  width: 210px; */
  max-width: 100%;
  margin: 1rem;
}

.results-image,
.bestseller-image {
  display: flex;
  flex-wrap: wrap;
}

.bestseller-overall {
  justify-content: center;
}

.bestseller {
  background-color: gray;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.best-over {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.bestseller:hover .best-over {
  transform: translateY(0%);
}
