body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgba(141, 135, 135, 0.925) 0%,
    rgb(76, 76, 83) 100%
  );
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  /* padding: 0 20px; */
  /* background-color: aquamarine; */
  background: linear-gradient(
    90deg,
    rgb(28, 28, 29, 0.7) 0%,
    rgb(59, 59, 63) 100%
  );
  z-index: 1;
}

.nav-item {
  margin: 0 auto;
  font-size: large;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-search {
  font-size: large;
  color: white;
  font-weight: bold;
  margin-right: 1.5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgb(28, 28, 29, 0.7) 0%,
    rgb(59, 59, 63) 100%
  );
  z-index: 1;
}

.book-img,
.bestbook-img,
.favbook-img {
  /* height: 500;
  width: 210px; */
  max-width: 100%;
  margin: 1rem;
}

img.book-img,
img.bestbook-img,
img.favbook-img {
  width: 150px;
  height: 200px;
}

.results-image,
.bestseller-image,
.favourite-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-overall,
.bestseller-overall,
.favourite-overall,
.results-overall {
  /* justify-content: center; */
  padding-top: 80px;
  margin: 0 auto;
  padding-bottom: 50px;
  /* display: flex; */
  /* margin-left: 100px; */
}

.home-overall {
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1590&q=80");
  background-size: cover;
  padding-top: 11.65em;
  font-style: bold;
  color: white;
  font-size: 150%;
  font-family: cursive;
  margin: 0 auto;
}

.search {
  margin-top: 2em;
}

.carousel {
  background: linear-gradient(
    90deg,
    rgba(95, 71, 71, 0.726) 0%,
    rgb(68, 68, 73) 100%
  );
  height: 17.8em;
}

.bestseller,
.results,
.favourite {
  background: linear-gradient(
    90deg,
    rgba(128, 117, 117, 0.726) 0%,
    rgb(73, 73, 80) 100%
  );
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
  height: 22em;
  transition: transform 0.2s;
}

.bestseller:hover,
.results:hover,
.favourite:hover {
  transform: scale(1.1);
}

.best-over,
.results-over,
.fav-over {
  background: linear-gradient(
    90deg,
    rgba(128, 117, 117, 0.726) 0%,
    rgb(145, 145, 223) 100%
  );
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.bestseller:hover .best-over,
.results:hover .results-over,
.favourite:hover .fav-over {
  transform: translateX(0);
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  height: 280px;
  padding: 1em;
}

button {
  position: relative;
  cursor: pointer;
}

.button-container {
  padding: 1em;

  position: absolute;
  bottom: 0px;
}

a {
  text-decoration: none;
}

.details {
  background: linear-gradient(
    90deg,
    rgba(61, 21, 21, 0.644) 0%,
    rgb(144, 144, 153) 100%
  );
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  padding: 100px;
  /* margin: 7rem; */

  width: 40%;
  height: 550px;
}

.details-img {
  display: absolute;
  width: 14.5em;
  height: 17.5em;
  padding: 2em 2em 1em 2em;
  margin-right: 35em;
  margin-top: 2em;
}

.details-book {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 20em;
  margin-top: -19em;

  /* border: 1px solid black; */
}

.details-container {
  position: absolute;
  /* display: flex; */
  right: 0;
  top: 0;
  left: 0;
}

/* .details-img-book {
  border: 1px solid black;
} */

.details-description {
  display: absolute;
  margin-top: 2em;
  padding: 1em 3em 3em 3em;
  background: linear-gradient(
    90deg,
    rgb(173, 46, 46) 0%,
    rgb(144, 144, 153) 100%
  );
  /* border: 1px solid black; */
}

.results-empty {
  color: white;
  margin-top: 8em;
}

.fav-empty {
  color: white;
  margin-top: 8em;
}

#dropdown-categories {
  border-radius: 6px;
  font-size: 0.6em;
  background: linear-gradient(90deg, #e7e5e5 0%, rgb(68, 68, 124) 100%);
}

.results-book h3,
.best-book h3,
.fav-book h3 {
  margin: 0 auto;
}

.author {
  border-radius: 6px;
  font-size: 0.6em;
  background: whitesmoke;
  width: 30em;
  height: 2em;
  padding: 8px 20px;
  margin: 6px 0;
}

.toggle {
  margin: 10em;
}

/* .collapsible .toggle {
  background: #0084ff;
  border: unset;
  cursor: pointer;
  font: unset;
  padding: 0.3em;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 0.5em;
} */

.collapsible .content {
  /* padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px; */
  height: 0px;
  overflow: hidden;
  transition: height ease 0.7s;
}

.collapsible .content.show {
  height: 100px;
}
